Flask==0.10.1
Flask-Login==0.2.9
Jinja2==2.7.2
Mako==0.9.1
MarkupSafe==0.18
SQLAlchemy==0.9.1
Werkzeug==0.9.4
alembic==0.6.2
argparse==1.2.1
distribute==0.6.24
httplib2==0.8
ipython==1.1.0
itsdangerous==0.23
oauth2==1.5.211
oauthlib==0.6.0
psycopg2==2.5.2
python-twitter==1.1
requests==2.2.0
requests-oauthlib==0.4.0
simplejson==3.3.2
stripe==1.11.0
tweepy==2.1
wsgiref==0.1.2
