.stripe-button-el {
    font-size:21px;
}

.mattress-one {
    background-color:#a16b19;
    border-width:0px;
}

.mattress-two {
    background-color:#f1716e;
    border-width:0px;
}

.mattress-three {
    background-color:#a0a132;
    border-width:0px;
}
