.stripe-button-el {
    font-size:21px;
}

.mattress-three {
    background-color:#EEE453;
    border-width:0px;
}

.mattress-two {
    background-color:#5EEE53;
    border-width:0px;
}

.mattress-one {
    background-color:#E453EE;
    border-width:0px;
}
