{% extends "layout.html" %}
{% block content %}
    <div class="container">

      <div class="header">
          <ul class="nav nav-pills pull-left">
              <li><a href="#">Ends at February 8th 9pm PST</a></li>
          </ul>
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="#">About</a></li>
          <!--<li><a href="http://www.twitter.com/ecalifornica">Contact</a></li>-->
        </ul>
        <h3 class="text-muted">&nbsp</h3>
      </div>

    <div class="row">

        <div class="col-md-6">
            <p>
            Twitter's #hackweek was my inspiration to start this project. 
            I've been working on a hardware-software home security project for a few months, and had the urge for a blank slate and new problems. 
            <p>
            I've had my eye on a few new skills to learn or get more familiar with: Flask, OAuth, Twitter's API, Stripe's API, Javascript, D3, SQLAlchemy and Postgresql, S3
            </p>
        </div>

        <div class="col-md-6">
            <p>
            About me: 
            </p>
            <p>
            I work with vim and tmux on Linode and Heroku. I would very much appreciate any notes, suggestions, ideas, and bug reports. The code will be on <a href="http://github.com/ecalifornica">http://www.github.com/ecalifornica</a>. Many thanks to Dan Farina, Arthur Rudolph, Nikhil Dvivedi, Chris Ritchie, and Sohrob Nikzad among others.
            </p>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <ul>
                <lh><h3>#shipit to do list:</h3></lh>
                <li><del>Percentage funded</del></li>
                <li>JQuery submit pledge</li>
                <li>Twitter screen names are links in D3 SVG</li>
                <li><del>Show Twitter profile images</del></li>
                <li><del>Flask flash thank you message</del></li>
                <li><del>This about page</del></li>
                <li>Show Stripe's cut. AJAX update it as pledge is entered</li>
                <li><del>Redo database with new columns.</del> Figure out why the Alembic migration isn't working</li>
                <li><del>A model for storing Stripe customer object in DB.</del> Just needed to store the id.</li>
                <li>Test customer object charge</li>
                <li>Clean up UI and flow</li>
                <li><del>Votes on mattress</del></li>
                <li>Logging</li>
                <li>Javascript countdown for funding</li>
                <li>Reimplement D3 plot</li>
                <li><del>Download and store Twitter profile images in S3</del></li>
                <li>Bootstrap style for Stripe enter card data button</li>
                <li>Drawer to hide voting, draw focus to people instead of the vote</li>
                <li>Properly handle multiple rows of pledges</li>
                <li>Tie percentage of total to votes</li>
                <li>Heroku HTTPS</li>
                <li>Figure out how to use Bootstrap to align form input and submit button</li>
                <li><del>Display user's vote</del></li>
                <li>Favicon</li>
            </ul>
        </div>
    </div>

    {% endblock %}
