{% extends "layout.html" %}
{% block content %}
    <div class="container">

      <div class="header">
          <ul class="nav nav-pills pull-left">
              <li></li>
          </ul>
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="#">About</a></li>
          <!--<li><a href="http://www.twitter.com/ecalifornica">Contact</a></li>-->
        </ul>
        <h3 class="text-muted">&nbsp</h3>
      </div>

    <div class="row">

        <div class="col-md-6">
            <p>
            <h4>Why</h4>
            </p>
            <p>
            Twitter's <a href="https://twitter.com/hackweek">@hackweek</a> was my inspiration to realize this idea that I've been kicking around for months. 
            I also felt like taking a break from my hardware-software home security project for a blank slate and new problems. 
            </p>
        </div>

        <div class="col-md-6">
            <p>
            <h4>Who</h4> 
            </p>
            <p>
            My name is Robert, I work with vim and tmux on Linode and Heroku. I would very much appreciate any notes, suggestions, ideas, and bug reports. The code for this can be found at <a href="http://github.com/ecalifornica/happybirthdaysohrob">http://www.github.com/ecalifornica/happybirthdaysohrob</a>. 
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
            <h4>How</h4>
            </p>
            <p>
            Besides buying Sohrob a new mattress, which he desperately needs, I wanted to try my hand at a few new skills or get more familiar with previously learned ones. 
            </p>
            <p>
                <strong>Flask</strong> I definitely feel much more familiar with Flask, and find myself seeing uses for it everywhere. While I see problems to surmount everywhere I look, I attempt to step back and remind myself that I can interact with my code through the browser now.
                </p>
                <p>
                <strong>Twitter's API, OAuth</strong> I'm not really making much use of Twitter's API, except for the OAuth sign in, but I hope to change that soon.
                </p>
                <p>
                <strong>Javascript (D3 and AJAX)</strong> Similarly, I've moved from using D3 to just using Bootstrap's built in progress bar for visualizing the funding progress. I had originally planned on D3 being the center piece of this site, but I found that I wasn't delivering the information clearly enough. Looking at my to do list, besides smoothing out some UI edges, D3 is my upcoming focus.
                </p>
                <p>
                <strong>Stripe's API</strong> Wonderfully easy to use.
                </p>
                <p>
                <strong>SQLAlchemy and Postgresql</strong> I'm using the database as a spreadsheet and I realize that my interaction with the database must be crude and simplistic. I'm hoping that friends will read my code and be able to pull me out of Flatland.
                </p>
                <p>
                <strong>S3</strong> I've barely scratched the surface of S3/Boto, let alone the rest of the Amazon offerings. I'm happy that I can read documentation well enough to pick up libraries quickly, but I still want to find time to interact with S3 and the Twitter API without libraries.
            </p>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <ul>
                <lh><h3>#shipit to do list:</h3></lh>
                <li><del>Percentage funded</del></li>
                <li>JQuery submit pledge</li>
                <li>Twitter screen names are links in D3 SVG</li>
                <li><del>Show Twitter profile images</del></li>
                <li><del>Flask flash thank you message</del></li>
                <li><del>This about page</del></li>
                <li>Show Stripe's cut. AJAX update it as pledge is entered</li>
                <li><del>Redo database with new columns.</del> Figure out why the Alembic migration isn't working</li>
                <li><del>A model for storing Stripe customer object in DB.</del> Just needed to store the id.</li>
                <li>Test customer object charge</li>
                <li>Clean up UI and flow</li>
                <li><del>Votes on mattress</del></li>
                <li>Logging</li>
                <li>Javascript countdown for funding</li>
                <li>Reimplement D3 plot</li>
                <li><del>Download and store Twitter profile images in S3</del></li>
                <li>Bootstrap style for Stripe enter card data button</li>
                <li>Drawer to hide voting, draw focus to people instead of the vote</li>
                <li>Properly handle multiple rows of pledges</li>
                <li>Tie percentage of total to votes</li>
                <li>Heroku HTTPS</li>
                <li>Figure out how to use Bootstrap to align form input and submit button</li>
                <li><del>Display user's vote</del></li>
                <li>Favicon</li>
            </ul>
        </div>
    </div>

    {% endblock %}
