{% extends "layout.html" %}
{% block content %}
    <div class="container">

      <div class="header">
          <ul class="nav nav-pills pull-left">
              <li></li>
          </ul>
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>
        <h3 class="text-muted">&nbsp</h3>
      </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success">
        {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

      <div class="jumbotron">
        <h1>Happy Birthday Sohrob!</h1>
        <p class="lead">Our friend <a href="https://twitter.com/telotype">@telotype</a> has a horrible futon mattress.
        How do I know? It used to be my horrible mattress.
        I'm hoping that you will join me in buying him a better mattress for his birthday.</p>
        {% if signin %}
        <p><a class="btn btn-lg btn-success" href="/twitter-login/" role="button">Sign in with Twitter to Pledge</a></p>
        {% else %}
        {% endif %}

        {% if enteramount %}
        <form action="/" method="post">
                <div class="input-append">
            <input type="text" size="3" maxlength="3" name="charge_amount" placeholder="${{ amount_placeholder }}">
            <input class="btn btn-primary btn-sm" type="submit" value="{{ amount_button }}">
            </div>
        </form>
        {% else %}
        {% endif %}
        {% if change_amount %}
        <p>
        <span>Your pledge: </span><span style="font-weight:400;">{{ pledge_amount }} </span>


        <span style="font-size:60%;"><a href="/change_amount/">Change</a></span>
        {% endif %}

        {% if entercard %}
        {{ charge_amount }}
        <form action="/charge" method="post">

        <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button" 
            data-key="{{ key }}"
            data-amount="{{ amount }}"
            data-name="Twiftter"
            data-description="Happy Birthday Sohrob!"
            data-label="Enter Card Data"
            data-panel-label="Pledge"
            data-billing-address="true">
        </script>
        </form>
        </p>
        {% else %}
        {% endif %}

    </div>

<div class="row">
    <div class="col-md-6">
            <h3>{{ percentage_complete }}%</h3>
    </div>
    <div class="col-md-6 text-right">
            <h3>$682</h3>
    </div>
</div><!-- end row -->

    <div class="row">
        <div class="col-md-12">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ percentage_complete }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentage_complete }}%;">
                <span class="sr-only">{{ percentage_complete }}% Complete</span>
                </div><!-- end progress-bar-->
            </div><!-- end progress -->
        </div><!-- end col -->
    </div><!-- end row -->

<!-- hide this if not logged in -->
        {% if not signin %}
<div class="row" style="font-family:Helvetica;">

           <div class="col-md-12">
               <h3>Your Choice</h3>
           </div>
</div><!-- end your choice row -->

<!-- first choices row -->
    <div class="row" style="margin-bottom:20px;">
        <div class="col-md-6">
            <form action="/vote/" method="post">
            <!--this could be better with ajax-->
            <button type="submit" name="mattress_vote" value="1" style="margin-right:10px;" class="btn btn-default {{ vote_one_classes }}" id="voteid1">
                <span style="font-size:150%;" class="glyphicon glyphicon-ok">
                <h4>$300</h4>
                </span>
            </button>
            <a href="http://www.amazon.com/Signature-Sleep-Inch-Mattress-Queen/dp/B004LQ1RQU/ref=sr_1_9?m=ATVPDKIKX0DER&s=furniture&ie=UTF8&qid=1391081044&sr=1-9">
            <h4>Amazon coil mattress</h4>
            <span style="margin-left:-4px;"><img src="static/images/stars_reviews_2b.png"></span>
            </a>
            <span style="padding-left:10px;">81 customer reviews</span>
            </form>
    </div>

    <div class="col-md-6">
        <form action="/vote/" method="post">
            <button type="submit" name="mattress_vote" value="2" style="margin-right:10px;" class="btn btn-default {{ vote_two_classes }}" id="voteid1">
                <span style="font-size:150%;" class="glyphicon glyphicon-ok">
                    <h4>$400</h4>
                </span>
            </button>
        </form>
        <a href="http://www.amazon.com/Sleep-Innovations-SureTemp-Mattress-Warranty/dp/B003CT37L0/ref=sr_1_1?s=home-garden&ie=UTF8&qid=1391076900&sr=1-1&keywords=sleep+innovations">
            <h4>Amazon memory foam mattress</h4>
                <span><img style="margin-left:-4px;" src="static/images/stars_reviews_2b.png"></span>
        </a>
        <span style="padding-left:10px;">1,410 customer reviews</span>
    </div>
</div><!-- end first choices row -->  

        <!-- second row of choices row -->
        <div class="row" style="margin-bottom:20px; border-bottom:1px solid #e5e5e5;">
            <div class="col-md-6">
        <form action="/vote/" method="post">
            <button type="submit" name="mattress_vote" value="3" style="margin-right:10px;" class="btn btn-default {{ vote_three_classes }}" id="voteid1">
                        <span style="font-size:150%;" class="glyphicon glyphicon-ok">
                            <h4>$682</h4>
                        </span>
            </button> 
        </form>
                        <a href="http://shop.keetsa.com/products/the-keetsa-plus">
                            <h4>Keetsa eco-friendly coil mattress</h4>
                        </a>
                        <p>I own this mattress and enjoy it. - <a href="http://www.twitter.com/ecalifornica">@ecalifornica</a></p>
                </div><!-- end second vote row first column -->

            <div class="col-md-6">
            <button name="mattress_vote" value="3" style="margin-right:10px;background-color:@gray-light;" class="btn btn-default" id="voteid4">
                        <span style="font-size:150%;" class="glyphicon glyphicon-plus">
                            <h4>$?&nbsp;&nbsp;&nbsp;</h5>
                        </span>
            </button> 
                            <h4>Your suggestions welcome</h4>
                </div><!-- end second vote row second column -->

           </div><!-- end second choice row -->

        {% endif %}
<!-- end choice/vote section -->


      <!-- twitter profile photo rows-->
    <div class="row">
        <div class="col-md-12">
            <h3>Pledge Ledger</h3>
        </div>
    </div>
<div class="row">
    {{ donors }}
</div>

    <!-- Stripe -->
<script src="https://checkout.stripe.com/checkout.js"></script>

    {% endblock %}
