{% extends "layout.html" %}
{% block content %}

    <div class="container">

      <div class="header">
          <ul class="nav nav-pills pull-left">
              <li> <a href="#">February 8th 2100 PST</a></li>
          </ul>
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <!--<li><a href="http://www.twitter.com/ecalifornica">Contact</a></li>-->
        </ul>
        <h3 class="text-muted">&nbsp</h3>
      </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success close">
        {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

      <div class="jumbotron">
        <h1>Happy Birthday Sohrob!</h1>
        <p class="lead">Our friend <a href="https://twitter.com/telotype">@telotype</a> has a horrible futon mattress.
        How do I know? It used to be my horrible mattress.
        I'm hoping that you will join me in buying him a better mattress for his birthday.</p>
        {% if signin %}
        <p><a class="btn btn-lg btn-success" href="/twitter-login/" role="button">Sign in with Twitter to Pledge</a></p>
        {% else %}
        {% endif %}

        {% if enteramount %}
        <p>
        <form action="/" method="post">
            <!-- ugly -->
            <span style="font-size:175%; font-weight:400; margin-top:5px;">$</span>
            <input type="text" size="5" maxlength="3" name="charge_amount" placeholder="{{ amount_placeholder }}">
            <!--this could be better with ajax-->
            <!--<input class="btn btn-lg btn-success" type="submit" value="{{ amount_button }}">-->
            <input class="btn btn btn-success" type="submit" value="{{ amount_button }}">
        </form>
        </p>
        {% else %}
        {% endif %}
        <p>
        {% if change_amount %}
        <span>Your pledge: </span><span style="font-weight:400;">{{ pledge_amount }} </span>


        <span style="font-size:60%;"><a href="/change_amount/">Change</a></span>
        {% endif %}

        {% if entercard %}
        <!--<p>-->
        {{ charge_amount }}
        <form action="/charge" method="post">

        <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button" 
            data-key="{{ key }}"
            data-amount="{{ amount }}"
            data-name="Twiftter"
            data-description="Happy Birthday Sohrob!"
            data-label="Enter Card Data"
            data-panel-label="Pledge"
            data-billing-address="true">
        </script>
        </form>
        <!--</p>-->
        {% else %}
        {% endif %}
        </p>

    </div>

<!--
          <p><button class="btn btn-lg btn-success" id="customButton"  href="/twitter-login/" role="button">Enter Card Data</button></p>
-->
<!--</div>-->
<!--
      <div class="row marketing">
        <div class="col-lg-6">
        </div>
        -->
    <!--</div>-->

<div class="row" style="font-family:Helvetica;">
<!--
    <div id="barf" class="col-md-6">
        <h1 style="margin-left:63px;">{{ percentage_complete }}%</h1>
    </div>
-->
           <div class="col-md-12">
               <h2>Your choice:</h2>
           </div>
</div><!-- end your choice row -->

<!-- first vote row -->
    <div class="row" style="margin-bottom:20px;">
        <div class="col-md-6">
            <form action="/vote/" method="post">
            <!--this could be better with ajax-->
            <button type="submit" name="mattress_vote" value="1" style="margin-right:10px;" class="btn btn-default {{ vote_one_classes }}" id="voteid1">
                <span style="font-size:150%;" class="glyphicon glyphicon-ok">
                <h4>$300</h4>
                </span>
            </button>
            <a href="http://www.amazon.com/Signature-Sleep-Inch-Mattress-Queen/dp/B004LQ1RQU/ref=sr_1_9?m=ATVPDKIKX0DER&s=furniture&ie=UTF8&qid=1391081044&sr=1-9">
            <h4>Amazon coil mattress</h4>
            <span style="margin-left:-4px;"><img src="static/images/stars_reviews_2b.png"></span>
            </a>
            <span style="padding-left:10px;">81 customer reviews</span>
            </form>
    </div>

    <div class="col-md-6">
        <form action="/vote/" method="post">
            <button type="submit" name="mattress_vote" value="2" style="margin-right:10px;" class="btn btn-default {{ vote_two_classes }}" id="voteid1">
                <span style="font-size:150%;" class="glyphicon glyphicon-ok">
                    <h4>$400</h4>
                </span>
            </button>
        </form>
        <a href="http://www.amazon.com/Sleep-Innovations-SureTemp-Mattress-Warranty/dp/B003CT37L0/ref=sr_1_1?s=home-garden&ie=UTF8&qid=1391076900&sr=1-1&keywords=sleep+innovations">
            <h4>Amazon memory foam mattress</h4>
                <span><img style="margin-left:-4px;" src="static/images/stars_reviews_2b.png"></span>
        </a>
        <span style="padding-left:10px;">1,410 customer reviews</span>
    </div>
</div><!-- end first votes row -->  

        <!-- vote three row -->
        <div class="row" style="margin-bottom:20px; border-bottom:1px solid #e5e5e5;">
            <div class="col-md-6">
        <form action="/vote/" method="post">
            <button type="submit" name="mattress_vote" value="3" style="margin-right:10px;" class="btn btn-default {{ vote_three_classes }}" id="voteid1">
                        <span style="font-size:150%;" class="glyphicon glyphicon-ok">
                            <h4>$682</h4>
                        </span>
            </button> 
        </form>
        <!--
                        <button type="button" name="test" class="btn btn-default btn-success" id="barfer">
                        <span style="font-size:150%;" class="glyphicon glyphicon-ok">
                        <h4>$682</h4>
                        </span>
                        </button>  
                    &nbsp;<img width="33px" src="static/images/profile_images/ecalifornica.jpeg">&nbsp;<img width="33px" src="static/images/profile_images/telotype.png">
                    <img width="33px" src="static/images/profile_images/clairedeleony.jpeg">&nbsp;<img width="33px" src="static/images/profile_images/jberthume.jpeg">
<img width="33px" src="static/images/profile_images/lubolicious.jpg">
                        -->
                        <a href="http://shop.keetsa.com/products/the-keetsa-plus">
                            <h4>Keetsa eco-friendly coil mattress</h4>
                        </a>
                        <p>I own this mattress and enjoy it. - <a href="http://www.twitter.com/ecalifornica">@ecalifornica</a></p>
                </div><!-- end second vote row first column -->

           </div><!-- end second choice row -->

       <!--</div> ? -->

      <!-- twitter profile photo rows test -->
    <div class="row">
        <div class="col-md-12">
            <h2>Donors:</h2>
        </div>
    </div>
<div class="row">
    {{ donors }}
</div>



      <div class="footer">
          <p><a href="https://twitter.com/ecalifornica">@ecalifornica</a> <a href="https://twitter.com/search?q=%23hackweek&src=hash">#hackweek</a></p>
      </div>

    </div> <!-- /container -->

    <!-- Stripe -->
<script src="https://checkout.stripe.com/checkout.js"></script>

<!-- D3 -->
<script>

    var margin = {top: 20, right: 100, bottom: 30, left: 40},    
    width = 250 - margin.left - margin.right,
    height = 850 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var y = d3.scale.linear()
    .rangeRound([height, 0]);

var color = d3.scale.ordinal()
    .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

    var xAxis = d3.svg.axis()    
    .scale(x)    
    .orient("bottom");

var yAxis = d3.svg.axis()    
.scale(y)    
.orient("left")    
.tickFormat(d3.format(".0%"));

var svg = d3.select("#barf").append("svg")
.attr("width", width + margin.left + margin.right)    
.attr("height", height + margin.top + margin.bottom)  
.append("g")
.attr("transform", "translate(" + margin.left + "," + margin.top + ")")
//.append("svg:a")
//.attr("xlink:href", function(d) { return d.name; })
;

//d3.csv("static/data.csv", function(error, data) {  color.domain(d3.keys(data[0]).filter(function(key) { return key !== "State"; }));
d3.csv("/tmp/data.csv", function(error, data) {  color.domain(d3.keys(data[0]).filter(function(key) { return key !== "State"; }));

  data.forEach(function(d) {
    var y0 = 0;
    d.ages = color.domain().map(function(name) { return {name: name, y0: y0, y1: y0 += +d[name]}; });
    d.ages.forEach(function(d) { d.y0 /= y0; d.y1 /= y0; });
  });

  data.sort(function(a, b) { return b.ages[0].y1 - a.ages[0].y1; });

  x.domain(data.map(function(d) { return d.State; }));

  /*
  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis);
      */

  var state = svg.selectAll(".state")
      .data(data)
    .enter().append("g")
      .attr("class", "state")
      .attr("transform", function(d) { return "translate(" + x(d.State) + ",0)"; });

  state.selectAll("rect")
      .data(function(d) { return d.ages; })
    .enter().append("rect")
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.y1); })
      .attr("height", function(d) { return y(d.y0) - y(d.y1); })
      .style("fill", function(d) { return color(d.name); });

  var legend = svg.select(".state:last-child").selectAll(".legend")
      .data(function(d) { return d.ages; })
    .enter().append("g")
      .attr("class", "legend")
      .attr("transform", function(d) { return "translate(" + x.rangeBand() / 1.05 + "," + y((d.y0 + d.y1) / 2) + ")"; });

  legend.append("line")
      .attr("x2", 10);

  legend.append("text")
      .attr("x", 13)
      .attr("dy", ".35em")
      .text(function(d) { return d.name; });

});

</script>
<!--<script type="text/javascript" src="{{ url_for('static', filename='test.js') }}"></script>-->
    {% endblock %}

