<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/favicon.png">

    <title>Happy Birthday Sohrob!</title>

    <!-- Bootstrap core CSS -->
    <link href="static/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/jumbotron-narrow.css" rel="stylesheet">

    <!-- Additional styles -->
    <link href="static/hbm.css" rel="stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47609451-1', 'happybirthdaysohrob.herokuapp.com');
      ga('send', 'pageview');

    </script>

    </head>
    <body>
        <!--<script src="http://d3js.org/d3.v3.min.js"></script>-->


        {% block content %}{% endblock %}

        <div class="footer">
            <p><a href="https://twitter.com/ecalifornica">@ecalifornica</a> <a href="https://twitter.com/search?q=%23hackweek&src=hash">#hackweek</a></p>
        </div>

    </div> <!-- /container -->
    </body>
</html>



